* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, .8);;
    color: #32a9ad;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 5% 7%;
}

.logo {
    height: 50%;
    width: 50%;
    justify-content: flex-end;
}

.banner {
    width: 80%;
    object-fit: cover;
}

i {
    color: white
}
.maindiv {
    width: 90%;
    /* margin-left: 7%;
    margin-top: 5%;
    margin-right: 7%; */
}

.first {
    padding: 10% 0 10% 0;
}

.btn {
    background-color: brown;
    color: #32a9ad;
    cursor: pointer;
    padding: 1.2em;
    border: 1px solid #32a9ad;
}

.btn:hover {
    background-color: white;
    color: brown;
    border: 1px solid brown;
}

a {
    border-radius: 30%;
    text-decoration: none;
    color: white;
}

a:hover {
    color:brown
}

.btn-div {
    margin-top: 20%;
}

.button1 {
    margin-right: 20%;
}

input {
    padding: 0.6em;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    list-style: none;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.3em 2em;
    width: 12em;
}

.withdraw {
    justify-self: center;
    text-align: center;
}